{% extends 'base.html' %}
{% block content %}

<div class="card mx-auto m-5" style="width: 32rem; border-width: 15px; border-color: yellow; background-color: orange;">
    <h5 class="card-title text-dark p-2">{{post.title.title()}} </h5>
    <img class="card-img-top mx-auto" src="{{post.img_url}}" style="background-color: darkblue; width: 25rem;"; alt="Card image cap">
    <div class="card-body">
        <h6 class="card-text text-dark text-center" caption-text>Base Experience: {{post.caption}}</h6>
        <h6 class="card-text text-dark text-center"  caption-text>HP: {{post.hp}} </h6>
        <h6 class="card-text text-dark text-center"  caption-text>Attack: {{post.attack}}</h6>
        <h6 class="card-text text-dark text-center"  caption-text> Defense: {{post.defense}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">{{post.author.username.title()}}</h6>
    </div>
    {% if current_user.id == post.user_id %}
    <a class="btn btn-primary mx-auto mb-3" style ="width: 16rem;" href ="/posts">Return to Pokedex</a>
    <!-- <a class="btn btn-success mx-auto mb-3" style ="width: 16rem;" href ="/posts/update/{{post.id}}">Edit</a> -->
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger mx-auto mb-3" data-toggle="modal" data-target="#exampleModal"style ="width: 16rem;">
        Delete
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to release pokemon</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            Are you sure you want to release this pokemon? This pokemon will disapear from your database. 
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a type="button" class="btn btn-danger" href ="/posts/delete/{{post.id}}">Delete</a>
            </div>
        </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}