{% extends 'base.html' %}
{% block content %}
<section class="vh-100 bg-image"
  style="background-image: url(https://wallpaperaccess.com/full/20993.jpg);">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Welcome to the Pokemon Center</h2>

              <form>
                {{form.hidden_tag()}}
                <h3>Please click the link below to access the pokemon data base: </h3>
                <a href="http://127.0.0.1:5000/choose"> Select your Pokemon</a>
                <div class="d-flex justify-content-center">
                  <button type="button"
                    class="btn btn-primary btn-block btn-lg">
                    SELECT 
                  </button>
                    
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

