{% extends 'base.html' %}
{% block content %}
    {% for user in users %}
    <section class="vh-10">
        <div class="container py-2 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-md-9 col-lg-7 col-xl-5">
              <div class="card" style="border-radius: 15px;">
                <div class="card-body p-5" style="background-color:aqua">
                  <div class="d-flex text-black">
                    <div class="flex-shrink-0">
                      <img src="https://i.pinimg.com/originals/09/da/92/09da926c2b94d95008a9e3b2f60bfdd3.png"
                        alt="Generic placeholder image" class="img-fluid"
                        style="width: 180px; border-radius: 10px;">
                    </div>
                    <div class="flex-grow-1 ms-3">
                      <h5 class="mb-1">{{user.username.upper()}}</h5>
                      <p class="mb-2 pb-1" style="color: #2b2a2a;">Pokemon Trainer</p>
      
                      <div class="d-flex pt-1">
                        <a type="button" class="btn btn-primary me-1 flex-grow-1" href ="/trainers">View Team</a>
                        <button type="button" class="btn btn-primary flex-grow-1">Battle</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
     
    {% endfor%}
{% endblock %}

