<nav class="navbar navbar-expand-lg bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand text-light" href="#">Pokebattles</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link text-light" href="#"> Welcome {{current_user.username.title()}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="http://127.0.0.1:5000/posts/create">Choose a Pokemon</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="http://127.0.0.1:5000/posts">View Pokedex</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" href="http://127.0.0.1:5000/">Battle</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="http://127.0.0.1:5000/logout">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link text-light" href="http://127.0.0.1:5000/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="http://127.0.0.1:5000/signup">Create an Account</a>
          </li>
          {% endif %}
      </div>
    </div>
  </nav>